*{
    margin: 0;
    padding: 0;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: rgb(75,196,196);
    background: linear-gradient(149deg, rgba(75,196,196,1) 0%, rgba(53,111,121,1) 50%, rgba(19,19,19,1) 100%); 
}
.teste{
    font-size: 35px;;
    font-family: sans-serif;
    color: rgb(219, 137, 13);
    text-decoration: none;
    text-align: center;
}



